/* ===================================================================
General Stylings */

*,
*:before,
p:after {
  box-sizing: border-box;
} /* damit border-box auch auf ::before und ::after elemente angewandt wird */

html {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

body {
  margin: 0px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

/* =================================================================
Specific Styling */

.header {
  text-align: center;
  background-color: #f0f8ff;
  padding: 4rem 0 3rem 0;
}

.hire-badge {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 1px solid black;
  padding: 0.3em 0.3em;
  border-radius: 0.5rem;
  background-color: #b0c4de;
}

.header-enclosing {
  font-size: 1.5em;
}

.emoji-insert {
  font-size: 0.6em;
}

.emoji-insert::after {
  content: "🌚";
  padding-left: 0.3rem;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 19px;
  }
}

@media and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.main {
  /* max-width: 100vmin; */
  max-width: 75ch;
  margin: 0 auto;
  padding: 1.5rem;
}

.nav-link {
  padding: 0.5em 0.5em;
  color: black;
  margin: 1em 1em;
}

.nav-link:hover {
  color: #483d8b;
}

.nav-link:active {
  background-color: #b0c4de;
}

article {
  padding: 0 1rem;
}

article + article {
  border-top: 1px solid black;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

::selection {
  background-color: #f0f8ff;
}

.to-the-left {
  position: relative;
  left: -0.5rem;
}

.work-experience {
  display: inline-block;
  /* margin-top: 0.5rem;*/
}

.date {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 0.8em;
}

@media print {
  .hire-badge {
    display: none;
  }
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hire-badge {
    position: fixed;
  }

@media screen and (min-width: 786px) {
  .main article {
    margin-top: 3rem;
  }
}


