/* General Stylings */

*,
*:before,
p:after {
  box-sizing: border-box;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

/* Specific Styling */

.header {
  padding: 40px 25px;
  text-align: center;
  background-color: #f0f8ff;
  padding: 70px 0px 50px 0px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 18px;
}

.nav-link {
  padding: 5px 15px;
  color: black;
}

.nav-link:hover {
  color: #483d8b;
}

.nav-link:active {
  background-color: #b0c4de;
}

article + article {
  border-top: 1px solid black;
  margin-top: 45px;
}

::selection {
  background-color: #f0f8ff;
}

.emoji-insert::after {
  content: "🌚";
}
